#alerts-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alerts-box {
    width: 60vw;
    padding: 40px;
    background: white;
    display: flex;
    border-radius: 20px;
}

#alerts-icon-container {
    width: 25%;
    padding: 25px 0 25px 40px;
    border-left: 5px solid black;
}

#alerts-message-container {
    width: 75%;
    padding-left: 40px;
}

#alerts-icon {
    display: block;
    width: 100%;
}

#alerts-message-title {
    font-size: 2rem;
    font-weight: bold;
}

#alerts-message-content {
    margin-top: 15px;
    line-height: 1.5;
    font-size: 1.25rem;
}

.ab-status-success #alerts-icon-container {
    border-left-color: var(--color-success);
}

.ab-status-success #alerts-message-title {
    color: var(--color-success-dark);
}

.ab-status-error #alerts-icon-container {
    border-left-color: var(--color-error);
}

.ab-status-error #alerts-message-title {
    color: var(--color-error-dark);
}

.ab-status-warning #alerts-icon-container {
    border-left-color: var(--color-warning);
}

.ab-status-warning #alerts-message-title {
    color: var(--color-warning-dark);
}

.ab-status-info #alerts-icon-container {
    border-left-color: var(--color-info);
}

.ab-status-info #alerts-message-title {
    color: var(--color-info-dark);
}

#alerts-button-container {
    margin-top: 65px;
    display: flex;
    justify-content: flex-end;
}

.alerts-button {
    width: 75px;
    height: 75px;
    font-weight: bold;
    font-size: 1.75rem;
    background-color: #cccccc;
    border: none;
    border-radius: 50%;
    outline: none;
}

.alerts-button .icon::before {
    transform: scale(2.5);
}

.alerts-button .ion-md-open:before {
    transform: scale(1.5);
}

.alerts-button:active {
    background-color: #aaaaaa;
}

.alerts-button:not(:last-of-type) {
    margin-right: 15px;
}

.alerts-button--ok {
    background-color: var(--color-success);
    color: #ffffff;
}

.alerts-button--ok:active {
    background-color: var(--color-success-dark);
}

.alerts-button--cancel {
    background-color: var(--color-error);
    color: #ffffff;
}

.alerts-button--cancel:active {
    background-color: var(--color-error-dark);
}
