:root {
    --color-main: #323e48;
    --color-main-light: #414f5b;
    --color-main-dark: #1e2a33;
    --color-accent: #e63f52;
    --color-accent-dark: #b2303f;
    --color-text-light: #cad9e6;
    --color-text-darker: #b2c7d9;
    --color-success: #4bb543;
    --color-success-light: #e0ffde;
    --color-success-dark: #31782b;
    --color-error: #e82e2e;
    --color-error-light: #ffd9d9;
    --color-error-dark: #b32424;
    --color-warning: #ffc107;
    --color-warning-light: #fff6db;
    --color-warning-dark: #cf9c06;
    --color-info: #005abf;
    --color-info-light: #deedff;
    --color-info-dark: #004796;
}
