.column-layout {
    display: flex;
    width: 100%;
}

.column-layout--padding .column-layout__col {
    padding: 30px;
}

.column-layout__col:not(:last-of-type) {
    padding-right: 15px;
}

.column_layout--100-height {
    height: 100%;
}

.column-layout__col {
    flex-grow: 1;
}

.column-layout__col--6 {
    max-width: 50%;
}
