@import 'colors.css';
@import 'fonts.css';
@import 'panels.css';
@import 'misc.css';
@import 'column-layout.css';
@import 'standard-form.css';
@import 'datatable.css';
@import 'alerts.css';
@import 'summary-widget.css';
@import 'material-datetime-picker.css';

/* Apps */
@import 'apps/app-drawer.css';

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    overflow: hidden;
}

#main {
    background-color: var(--color-main);
    display: flex;
    height: 100%;
}

#clock {
    color: var(--color-text-light);
    font-size: 3rem;
    font-weight: 700;
    padding: 30px;
    text-align: center;
}

#app-container {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

#app-container.kf-app-in {
    animation-name: kfAppIn;
}

#app-container.kf-app-out {
    animation-name: kfAppOut;
}

@keyframes kfAppOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes kfAppIn {
    from {
        background-color: rgba(255, 255, 255, 0.2);
        transform: scale(0);
        opacity: 0;
    }

    to {
        background-color: rgba(255, 255, 255, 0);
        transform: scale(1);
        opacity: 1;
    }
}

#sidebar {
    background-color: var(--color-main-dark);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    width: 190px;
}

#sidebar__top {
    flex-grow: 1;
}

#sidebar__bottom {
    flex-shrink: 0;
    height: 190px;
    padding: 15%;
}

#btn-app-drawer {
    height: 100%;
    width: 100%;
    font-size: 5rem;
}
