.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.color-accent {
    color: var(--color-accent);
}

.text-italic {
    font-style: italic;
}

.no-bold {
    font-weight: normal;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.hidden {
    display: none;
}

.rounded-button {
    display: block;
    border: none;
    border-radius: 50%;
    color: var(--color-text-light);
    background-color: var(--color-accent);
    border: 3px solid var(--color-text-light);
    transition: background-color 0.25s;
    outline: none;
}

.rounded-button:active {
    background-color: var(--color-accent-dark);
}
