.panel {
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s ease 0.1s, opacity 0.2s ease 0.1s;
    background-color: var(--color-main);
}

.panel.panel--active {
    transform: translateX(0%);
    opacity: 1;
}

.panel.panel--no-transition {
    transition: none;
}

.panel--no-scroll {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.panel__header {
    display: flex;
    height: 120px;
    width: 100%;
    background-color: var(--color-main-light);
    border-bottom: 2px solid var(--color-accent);
}

.panel__content-wrapper {
    height: calc(100% - 120px);
    overflow: auto;
}

.panel__title {
    display: flex;
    align-items: center;
    padding: 40px;
    color: var(--color-text-light);
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.panel__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
    flex-grow: 1;
}

.panel__button {
    padding: 15px 20px;
    background-color: var(--color-accent);
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
}

.panel__button:active {
    background-color: var(--color-accent-dark);
}

.panel__button--success {
    background-color: var(--color-success);
}

.panel__button--success:active {
    background-color: var(--color-success-dark);
}

.panel__button--warning {
    background-color: var(--color-warning);
}

.panel__button--warning:active {
    background-color: var(--color-warning-dark);
}

.panel__button:not(:last-of-type) {
    margin-right: 20px;
}

.panel__button .icon {
    margin-right: 12px;
}

.panel__button .icon::before {
    transform: scale(1.75);
}

.panel__heading {
    color: var(--color-text-light);
    line-height: 1.5;
}

.panel__text {
    color: var(--color-text-light);
}

.panel__image {
    display: block;
    max-height: 400px;
}

.panel__image--border {
    border: 3px solid var(--color-accent);
}

.panel__image--right {
    margin-left: auto;
}
