.standard-form input[type='text'],
.standard-form input[type='password'],
.standard-form textarea {
    color: var(--color-text-light);
    display: block;
    padding: 15px;
    font-size: 1.7rem;
    font-weight: bold;
    border: 2px solid var(--color-text-light);
    border-radius: 10px;
    width: 100%;
    outline: none;
    margin-bottom: 30px;
    transition: all 0.25s;
    background-color: var(--color-main-light);
}

.standard-form input[type='text']:focus,
.standard-form input[type='password']:focus,
.standard-form textarea:focus {
    border-color: var(--color-accent);
    background-color: rgba(255, 255, 255, 1);
    color: var(--color-main-dark);
}

.standard-form textarea {
    height: 250px;
    resize: none;
}

.standard-form label {
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
    font-size: 1.7rem;
    color: var(--color-text-light);
}
