.summary-widget {
    background-color: var(--color-main-light);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
.summary-widget:active {
    opacity: 0.9;
}

.summary-widget__title {
    padding: 15px;
    font-weight: bold;
    font-size: 1.35rem;
    text-transform: uppercase;
    background-color: var(--color-text-light);
    color: var(--color-main-dark);
}

.summary-widget__title .icon {
    margin-right: 8px;
}

.summary-widget__text {
    padding: 15px;
    color: var(--color-text-light);
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}

.summary-widget__text--image-list {
    height: 85px;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0;
    text-align: left;
}

.summary-widget__image {
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.summary-widget__image:last-of-type {
    margin-right: 0;
}
