.form-input,
.form-select {
    padding: 12px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 100%;
    transition: border-color 0.25s;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.form-input:focus,
.form-select:focus {
    outline: none;
    border-color: var(--color-accent);
}

.form-input:read-only,
.form-select:read-only {
    background-color: #f3f3f3;
}

.form-label {
    display: inline-block;
    padding: 8px 0;
}

.form-divider {
    margin: 12px 0;
    height: 1px;
    background-color: #dddddd;
}

.form-button-ribbon {
    display: flex;
}

.form-button-ribbon > .form-button {
    flex-grow: 1;
    margin-left: 7px;
    margin-right: 7px;
}

.form-button-ribbon > .form-button:first-of-type {
    margin-left: 0;
}

.form-button-ribbon > .form-button:last-of-type {
    margin-right: 0;
}

.form-button {
    border: none;
    padding: 12px 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.05rem;
    color: var(--color-main);
    background-color: var(--color-text-light);
    transition: background-color 0.25s;
    margin: 8px 0;
}

.form-button:active {
    outline: none;
    background-color: var(--color-text-darker);
}

.form-button:focus {
    outline: none;
}

.form-button--full-width {
    width: 100%;
}

.form-button--primary {
    color: #ffffff;
    background-color: var(--color-accent);
}

.form-button--primary:active {
    background-color: var(--color-accent-dark);
}

.form-hidden-file {
    display: none;
}

.form-messages {
    margin: 20px 0;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    padding-right: 20px;
}

#main-content > .form-messages:first-of-type {
    margin-top: 0;
}

.form-messages--error {
    background-color: var(--color-error-light);
    border-color: var(--color-error);
}

.form-messages--error .form-messages__item {
    color: var(--color-error-dark);
}

.form-messages--success {
    background-color: var(--color-success-light);
    border-color: var(--color-success);
}

.form-messages--success .form-messages__item {
    color: var(--color-success-dark);
}

.form-messages__list {
    padding-left: 30px;
}

.form-messages__item {
    font-size: 0.9rem;
    line-height: 1.5;
}

span.form-messages__item {
    display: block;
    padding: 12px;
    text-align: center;
}
