.header {
    height: var(--header-height);
    background-color: var(--color-main);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
}

.header__btn {
    font-size: 2rem;
    display: block;
    width: var(--header-height);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-text-light);
    outline: none;
}
