@import '/css/fonts.css';
@import '/css/colors.css';
@import '/mobile/css/forms.css';

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main-dark);
}

.login-container {
    padding: 24px;
    border-radius: 12px;
    background-color: #ffffff;
    width: 85vw;
    max-width: 500px;
}

.login-container__logo {
    display: block;
    width: 100%;
    margin: 0 auto 18px auto;
    max-width: 250px;
}
