@import '/css/colors.css';
@import '/css/fonts.css';
@import '/mobile/css/header.css';
@import '/mobile/css/navigation.css';
@import '/mobile/css/forms.css';
@import '/mobile/css/table.css';

:root {
    --header-height: 60px;
}

.hidden {
    display: none;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

#main-content {
    margin-top: var(--header-height);
    padding: 25px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: var(--color-main);
    animation: 0.5s FadeIn;
}

@keyframes FadeIn {
    from {
        opacity: 0;
        transform: rotateY(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

.title {
    font-weight: bold;
    font-size: 1.75rem;
    color: var(--color-main-dark);
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--color-accent);
}

.button-ribbon {
    margin-bottom: 15px;
    text-align: right;
}

.button-ribbon__button {
    text-decoration: none;
    padding: 6px 14px;
    color: var(--color-main);
    background-color: #eeeeee;
    display: inline-block;
    position: relative;
    border-radius: 3px;
}

.button-ribbon__button:not(:first-of-type) {
    margin-left: 10px;
}

.image {
    width: 100%;
    display: block;
}
