.navigation__overlay {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.navigation {
    --navigation-width: 70vw;
    height: 100%;
    width: var(--navigation-width);
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-light);
    background-color: var(--color-main-dark);
    position: fixed;
    top: 0;
    left: calc(-1 * var(--navigation-width));
    z-index: 10;
    transition: left 0.25s ease-out;
    border-right: 2px solid var(--color-accent);
}

.navigation--open {
    left: 0;
}

.navigation--open + .navigation__overlay {
    display: block;
}

.navigation__display-name {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.navigation__button {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    color: var(--color-text);
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    transition: background-color 0.25s;
}

.navigation__button:hover {
    background-color: var(--color-main);
}

.navigation__button:not(:last-of-type) {
    border-bottom: 1px solid var(--color-main);
}

.navigation__button-text {
    flex-grow: 1;
}

.navigation__button-icon {
    font-size: 1.35rem;
}
