.table {
    width: 100%;
    border-collapse: collapse;
}

.table__row {
    
}

.table__row:not(:last-of-type),
.table__header {
    border-bottom: 1px solid #eeeeee;
}

.table__cell {
    padding: 8px 0;
    font-size: 0.9rem;
}

.table__cell--right {
    text-align: right;
}

.table__cell--singular {
    text-align: center;
}

.table__header {
    font-weight: bold;
    padding: 8px 0;
}
