[data-app="AppDrawer"] .swiper-container {
    height: 100%;
    width: 100%;
}

.apps-container {
    width: 100%;
    height: 100%;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    
}

.app-icon {
    width: 25%;
    margin-bottom: 30px;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app-icon:nth-child(n+5) {
    margin-top: 30px;
}

.app-icon__image {
    background: var(--color-accent);
    padding: 15px;
    width: 15vw;
    height: 15vw;
    display: block;
    border-radius: 50%;
    border: 3px solid var(--color-text-light);
}

.app-icon__name {
    margin-top: 15px;
    color: var(--color-text-light);
    font-weight: bold;
    font-size: 1.5rem;
}
