html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    border: 2px solid var(--color-accent);
    border-radius: 20px;
    overflow: hidden;
}

.login-container__passcode {
    color: #ffffff;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    background-color: var(--color-main-light);
    border-bottom: 2px solid var(--color-accent);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container__keypad {
    display: block;
    overflow: hidden;
    padding: 10px;
    background-color: var(--color-main-dark);
}

.login-container__button {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 50%;
    margin: 10px;
    outline: none;
    border: 2px solid var(--color-text-light);
    background-color: var(--color-main);
    color: var(--color-text-light);
}

.login-container__button:active {
    background-color: var(--color-main-light);
}
